.header{
    width: 1440px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--green);
}

.header_link{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: underline;
    color: var(--white);   
}

.header_link h3{
    font-size: 18px;
}

.logo{
    height: 50px;
}

.logo_img_container{
    padding-left: 20px;
}