.header_container{
    width: 100vw;
    background: var(--green_gradient);
    display: flex;
    justify-content: center ;
}

.header {
  width: 1440px ;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.header a{
    margin-right: 60px;
}

.header_link {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: underline;
  color: var(--white);
}

.header_link h3 {
  font-size: 23px;
}

.logo {
  height: 50px;
}

.logo_img_container {
  padding-left: 20px;
}
