.information_container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.information_container h1 {
  margin-top: 80px;
  margin-bottom: 10px;
}

.section1_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  width: 1440px;
}

.info_picker {
  background: rgba(0, 0, 0, 0.5);
  height: 396px;
}

.info_picker div {
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(-400px);
  height: 396px;
  color: var(--white);
  padding-left: 20px;
}

.info_content h4 {
  font-size: 65px;
}

.info_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_content p {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: font-size 160ms ease-in-out;
}

.info_content p:hover{
  font-size: 32px;
}

.section2_info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
  width: 1404px;
}

.secondary_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.secondary_info h4 {
  padding-top: 5px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  color: var(--grey);
}

/******************* Section 3 with accordion *******************/

.section3_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.accordion_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  margin-bottom: 200px;
}

.path {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.path_current{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.path_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}

.path p {
  color: var(--grey);
  font-size: 25px;
  text-decoration: underline;
  padding-left: 10px;
}

.path_current p{
  color: var(--green);
  font-weight: 700;
  font-size: 25px;
  /* text-decoration: underline; */
  padding-left: 10px;
}

.dot {
  width: 24px;
  height: 24px;

  border-radius: 14px;
  border: solid 7px var(--grey);
}

.inner_dot {
  width: 12px;
  height: 12px;
  transform: translateX(-18px);
  background: var(--white);
  border-radius: 14px;
}

.current_dot {
  background: var(--green);
  border: none;
}

.path_line {
  height: 300px;
  width: 2px;
  border-radius: 2px;
  background: var(--grey);
  margin-left: -70px;
}

/******************* Section 3 with accordion *******************/
.join {
  background: var(--green_gradient);
  display: flex;
  color: var(--white);
  width: 1440px;
  height: 500px;
  padding: 40px;
  justify-content: space-around;
}

.join2 {
  margin-top: 120px;
}

.join_header {
  font-size: 60px;
  margin-bottom: 40px;
}

.join1,
.join2 {
  width: 600px;
}

.join_button{
  background: var(--grey);
  margin: 0;
}

.join_button:hover{
  background: var(--grey_hover);
}

.join1 p,
.join2 p {
  margin-bottom: 40px;
  font-size: 25px;
}